<!-- <%= stylesheet_link_tag    'global.css' %> -->

  <div class="center jumbotron">
    <%= link_to "Sign up now!", '#', class: "btn btn-lg btn-primary" %>
    <p>Home page for <%= app_n %></p>
  </div>
